* {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
	padding: 20px;
}
p {
    margin: 0 0 10px 0;
    text-indent: 28px;
}

img {
    border: 1px solid #999;
}

div.main {
    background-color: #eee;
    border: 1px solid #999;
    height: 100%;
    width: 100%;
    float: left;
}

section.teamName {
    width: 160px;
    border: 1px solid #999;
    background-color: #fff;
    padding: 20px;
    float: left;
    height: 100%;
    overflow: hidden;
    margin-left: -100%;
    position: relative;
}

.teamName .teamLogo {
    float: left;
    height: 100%
}

.teamName h1 {
    margin-top: 0px;
    margin-left: 102px;
    text-align: center;
    font-weight: bold;
}

section.teamShuoming {
    margin-left: 220px;
    margin-right: 200px;
    border: 1px solid #999;
    background-color: #fff;
    padding: 20px;
    height: 100%;

}

#gerenLogo {
    text-align: center;
    width: 80px;
    border: 1px solid #999;
    background-color: #fff;
    padding: 20px 20px 0px 20px;
    float: left;
    height: 100%;
    margin-left:-170px;
    position: relative;
}

#gerenLogo img {
    margin-bottom: 16px;
    display: block;
}


