*
{
    margin: 0;
    padding: 0;
    /* letter-spacing: 1px; */
    /*     border: 1px solid black; */
}

body
{
    background-color: #5d5d5d;
}

a
{
    text-decoration: none;
}

div.warp
{
    display: flex;
    flex-direction: column;

    width: 980px;
    height: 1386px;
    margin: 20px;

    background-color: white;

    align-items: center;
    flex: 1;
}

header.top
{
    display: flex;

    width: 892px;
    height: 61px;
    margin-bottom: 33px;

    border-bottom: 2px solid #938e8c;
    /*    background-color: green; */

    justify-content: space-between;
    align-items: flex-end;
}
/* div.shanglan:before{
content: "";
	height: 2px;
	width: 892px;
	margin-bottom: 35px;
	background-color: #938e8c;
}
div.line
{
    height: 2px;
} */

/* div.warp div.line
{
    width: 892px;
    margin-bottom: 35px;

    background-color: #938e8c;
} */



.flex
{
    display: flex;
}

header.top p:first-child
{
    font-family: '黑体';
    font-size: 12px;

    width: 110px;
    height: 61px;

    color: #fff;
    background-color: #dc5d5c;

    -ms-align-items: flex-end;
        align-items: flex-end;
}

header.top p a:link
{
    color: white;
}

header.top p a:visited
{
    color: white;
}

header.top p:nth-child(2)
{
    font-family: '黑体';
    font-size: 12px;

    color: #d45d5c;

    -ms-align-items: flex-end;
        align-items: flex-end;
}

div.shanglan
{
    display: flex;
    flex-direction: row;

    width: 892px;
    margin-bottom: 50px;
    /*     background-color: #1edfe0; */

    justify-content: space-between;
}

section.part1
{
    display: flex;
    flex-direction: column;

    width: 641px;

    background-color: white;
}

div.img-1
{
    width: 641px;
    height: 301px;
    margin: 0 0 40px 0;

    background-color: rgba(251, 3, 7, 1.0);
}



div.wenzhang-1
{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */

    width: 641px;
}

div.wenzhang-1 article:nth-of-type(1)
{
    margin-right: 25px;

    flex: .4;
}
div.wenzhang-1 article:nth-of-type(2)
{
    margin-right: 25px;

    flex: .35;
}
div.wenzhang-1 article:nth-of-type(3)
{
    flex: .25;
}
div.wenzhang-1 article h2
{
    font-size: 16px;
    font-weight: bold;

    margin: 0 0 10px 0;

    text-decoration: underline;
}
div.wenzhang-1 article:nth-child(1) h2
{
    font-family: '微软雅黑';

    color: #418c59;
}

div.wenzhang-1 article:nth-child(2) h2
{
    color: #d2994f;
}

div.wenzhang-1 article:nth-child(3) h2
{
    color: #cc7680;
}

div.wenzhang-1 article:nth-child(1) p
{
    font-family: '宋体';
    font-size: 12px;
    line-height: 16px;

    color: #767777;
}

div.wenzhang-1 article:nth-child(2) p
{
    font-family: '宋体';
    font-size: 12px;
    line-height: 16px;

    color: #767777;
}

div.wenzhang-1 article:nth-child(3) p
{
    font-family: '微软雅黑';
    font-size: 12px;
    line-height: 21px;

    color: #767777;
}


div.wenzhang-1 p
{
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 1px;
}

div.wenzhang-1 p span
{
    font-size: 12px;
    font-style: italic;

    color: rgba(205, 74, 72, .7);
}

div.wenzhang-1 ul
{
    margin-top: 25px;

    list-style-type: none;
}

section.part2
{
    display: flex;
    flex-direction: column;

    width: 203px;
    /*     background-color: #e89816; */
}
section.part2:before
{
    width: 203px;
    height: 2px;
    margin-bottom: 10px;

    content: '';

    background-color: #cc8091;
}
section.part2 h1
{
    font-family: '微软雅黑';
    font-size: 18px;
    font-weight: normal;

    color: #000;
}

section.part2 h1:first-letter
{
    font-size: 24px;
}

section.part2 h1 span
{
    border-bottom: 2px solid #000;
}

section.part2 p.p1
{
    font-family: '楷体';
    font-size: 12px;
    font-style: italic;

    color: #676767;
}

section.part2 p.p2
{
    font-family: 'Microsoft YaHei';
    font-size: 100px;
    font-weight: bold;
    font-style: italic;

    position: relative;
    right: 10px;

    color: #75b86b;
}

.minwarp-r
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: row;

    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
}

.minwarp-v
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    flex-direction: column;

    flex: 1;
}

p.p3
{
    font-family: '微软雅黑';
    font-size: 55px;

    color: #cc8091;
}

p.p4
{
    flex: 1;
}

p.p5
{
    font-family: '微软雅黑';
    font-size: 21px;

    color: #cc8091;
}

p.p6
{
    font-size: 12px;

    color: rgba(35, 24, 21, .67);
}

div.xialan
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    flex-direction: row;

    width: 892px;

    /* background-color: #3bfcb3; */
}

section.part3
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    width: 415px;
    margin-right: 19px;

    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
}
section.part3 h1:nth-of-type(2):after
{
    display: block;

    width: 415px;
    height: 2px;
    margin: 10px 0 20px 0;

    content: '';

    background-color: #11456b;
}
section.part3 h1:nth-of-type(1)
{
    font-family: '黑体';
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;

    color: #11456b;
}
section.part3 h1:nth-of-type(1) span
{
    font-family: '黑体';
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    line-height: 55px;

    margin-right: 20px;

    color: #f5e327;
}
section.part3 h1:nth-of-type()
{
    font-family: '黑体';
    font-size: 42px;
    font-weight: bold;
    line-height: 38px;

    color: #11456b;
}
section.part3 h1:nth-of-type(2)
{
    /* font-weight: bold; */
    font-family: '黑体';
    font-size: 33px;
    line-height: 42px;

    color: #11456b;
}
section.part3 p
{
    font-family: '宋体';
    font-size: 12px;
    line-height: 16px;

    text-indent: 2em;

    color: #767777;
}

section.part3 p.fle
{
    text-indent: 0;
}
section.part3 p.fle:first-letter
{
    font-family: '微软雅黑';
    font-size: 70px;
    line-height: 74px;

    float: left;

    margin-right: 4px;

    color: #f5e327;
}


img.img-3
{
    float: right;

    margin: 20px 0 20px 18px;
}
section.part4
{
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
            flex-direction: column;

    width: 458px;

    flex: 1;
    -webkit-flex-direction: column;
       -moz-flex-direction: column;
        -ms-flex-direction: column;
         -o-flex-direction: column;
}
div.img-2
{
    width: 458px;
    height: 275px;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
    background-image: url(img/task6-2.png);

    -ms-align-items: flex-end;
        align-items: flex-end;
}
div.img-2 h1
{
    background-color: rgba(3, 0, 0, 0.5);
    width: 458px;
    height: 61px;
line-height: 61px;
padding-left: 36px;
}
div.img-2 h1 span:nth-of-type(1){
	color: #fff;
	font-size: 26px;
	font-family: "微软雅黑";
	padding:7px;
	border-left: 3px solid #72b16a;
	font-weight: normal;

}
div.img-2 h1 span:nth-of-type(2){
	color: #72b16a;
	font-size: 13px;
	font-family: "微软雅黑";
	/* padding:10px; */
	font-style: italic;
	font-weight: normal;
	letter-spacing:2px;

}
div.wenzhang-2 ul{
	list-style: inside;
	list-style-image: url('img/task6-ul.png');
}
