*
{
    font: 14px 'Helvetica Neue',Helvetica,Arial,'Microsoft Yahei','Hiragino Sans GB','Heiti SC','WenQuanYi Micro Hei',sans-serif;

    margin: 0;
    padding: 0;

    color: #333;
    /* 初始化页面外边距  字体大小 字体优先级 字体颜色 行间距*/
}

body
{
    background-color: #5d5d5d;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: none;
        flex: none;
    -ms-flex-line-pack: center;
    align-content: center;
}
/* 页面相对浏览器水平居中 */
a
{
    text-decoration: none;
}
.row
{
    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-flex-direction: row;
        -ms-flex-direction: row;
         -o-flex-direction: row;
    /* 定义水平从往右排列类 */
}

.col
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
        flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    /* 定义垂直从上往下排列类 */
}

div#main
{
    width: 892px;
    height: 1386px;
    margin: 60px auto;
    padding: 0 44px;

    background-color: white;

    -webkit-box-flex: 0;
    -ms-flex: none;
        flex: none;
    /* 这是主页面，主页面里的子元素水平居中 */
}

header#header
{
    width: 892px;
    height: 61px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

header#header p:nth-of-type(1)
{
    font-family: '黑体';
    font-size: 12px;

    width: 110px;
    height: 61px;

    color: #fff;
    background-color: #dc5d5c;

    -ms-align-items: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
}
header#header p
{
    line-height: 19px;
}


header#header p a
{
    color: white;
}

header#header time
{
    font-family: '黑体';
    font-size: 12px;

    color: #d45d5c;
}
#main hr:nth-of-type(1)
{
    height: 2px;
    margin: 0 0 33px 0;

    background-color: #938e8c;
}
#main hr:nth-of-type(2)
{
    height: 1px;
    margin: 33px 0 0 0;

    background-color: #938e8c;
}
div#shanglan
{
    width: 892px;
    margin-bottom: 50px;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

div#part1
{
    width: 641px;
}

div#part1-1
{
    position: relative;

    width: 641px;
    height: 301px;
    margin: 0 0 40px 0;
}

div#part1-1:before
{
    position: absolute;
    top: 0;
    right: 0;

    width: 190px;
    height: 300px;

    content: '';

    background-color: rgba(204, 117, 128, .5);
}
div#part1-1:after
{
    position: absolute;
    top: 0;
    left: 0;

    width: 190px;
    height: 300px;

    content: '';

    background-color: rgba(66, 140, 89, .5);
}


div#part1-2 section:nth-of-type(1)
{
    margin-right: 25px;

    -webkit-box-flex: .4;
    -ms-flex: .4;
        flex: .4;
}
div#part1-2 section:nth-of-type(2)
{
    margin-right: 25px;

    -webkit-box-flex: .35;
    -ms-flex: .35;
        flex: .35;
}
div#part1-2 section:nth-of-type(3)
{
    -webkit-box-flex: .25;
    -ms-flex: .25;
        flex: .25;
}
div#part1-2 section h2
{
    font-family: '微软雅黑';
    font-size: 16px;
    font-weight: bold;

    margin: 0 0 10px 0;

    text-decoration: underline;
}
div#part1-2 section:nth-of-type(1) h2
{
    color: #418c59;
}

div#part1-2 section:nth-of-type(2) h2
{
    color: #d2994f;
}

div#part1-2 section:nth-of-type(3) h2
{
    color: #cc7680;
}
div#part1-2 p
{
    font-family: '宋体';
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 1px;

    color: #767777;
}

div#part1-2 section:nth-of-type(3) p
{
    line-height: 21px;
}




div#part1-2 p span
{
    font-family: '微软雅黑';
    font-size: 12px;
    font-style: italic;
    line-height: 16px;

    color: rgba(205, 74, 72, .7);
}

div#part1-2 ul
{
    margin-top: 25px;

    list-style-type: none;
}

div#part2
{
    width: 203px;

    border-top: 2px solid #cc8091;
    background-color: #fff;
}

div#part2-1 h1
{
    font-family: '微软雅黑';
    font-size: 24px;
    font-weight: normal;
    font-variant: small-caps;
    line-height: 30px;

    margin-top: 8px;

    text-decoration: underline;

    color: #000;
}

div#part2-1 h1 div.firstletter:first-letter
{
    font-size: 24px;
}

div#part2-1 h1 div.firstletter span
{
    border-bottom: 2px solid #000;
}

div#part2-1 p:nth-of-type(1)
{
    font-family: '楷体';
    font-size: 12px;
    font-style: italic;
    line-height: 10px;

    margin: 6px 0;

    color: #676767;
}

div#part2-1 p:nth-of-type(2)
{
    font-family: 'Microsoft YaHei';
    font-size: 110px;
    font-weight: bold;
    font-style: italic;
    line-height: 135px;

    position: relative;
    right: 15px;

    margin-bottom: 14px;

    color: #75b86b;
}

div#part2-2 p:nth-of-type(1)
{
    font-family: '微软雅黑';
    font-size: 55px;
    line-height: 50px;

    color: #cc8091;
}

div#part2-2-a p:nth-of-type(1)
{
    content: '';

    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
}

div#part2-2-a p:nth-of-type(2)
{
    font-family: '微软雅黑';
    font-size: 21px;
    line-height: 15px;

    color: #cc8091;
}

div#part2-2-a p:nth-of-type(3)
{
    font-size: 12px;

    color: rgba(35, 24, 21, .67);
}

div#xialan
{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

div#part3
{
    width: 415px;
}
div#part3 h1:nth-of-type(2):after
{
    display: block;

    width: 415px;
    height: 2px;
    margin: 10px 0 20px 0;

    content: '';

    background-color: #11456b;
}
div#part3 h1:nth-of-type(1)
{
    font-family: '黑体';
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;

    color: #11456b;
}
div#part3 h1:nth-of-type(1) span
{
    font-family: '黑体';
    font-size: 72px;
    font-weight: bold;
    font-style: italic;
    line-height: 55px;

    margin-right: 10px;

    color: #f5e327;
}
div#part3 h1:nth-of-type()
{
    font-family: '黑体';
    font-size: 42px;
    font-weight: bold;
    line-height: 38px;

    color: #11456b;
}
div#part3 h1:nth-of-type(2)
{
    font-family: '黑体';
    font-size: 33px;
    font-weight: bold;
    line-height: 42px;

    color: #11456b;
}
div#part3 p
{
    font-family: '宋体';
    font-size: 12px;
    line-height: 16px;

    text-indent: 2em;

    color: #767777;
}

div#part3-2 p:nth-of-type(1)
{
    text-indent: 0;
}
div#part3-2 p:nth-of-type(1):first-letter
{
    font-family: '微软雅黑';
    font-size: 70px;
    line-height: 74px;

    float: left;

    margin-right: 4px;

    color: #f5e327;
}


img.img-3
{
    float: right;

    margin: 16px 0 16px 16px;
}
div#part4
{
    width: 458px;
}
div#part4-1
{
    position: relative;

    width: 458px;
    height: 257px;
    margin-bottom: 30px;
}
div#part4-1-a
{
    position: absolute;
    bottom: 0;

    width: 421px;
    height: 61px;
    padding-left: 36px;

    background-color: rgba(3, 0, 0, .5);
}

div#part4-1-a h1
{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
div#part4-1-a h1 span
{
    font-family: '微软雅黑';
    font-size: 26px;
    font-weight: normal;
    line-height: 26px;

    padding: 8px;

    color: #fff;
    border-left: 3px solid #72b16a;

    -webkit-box-flex: .5;
    -ms-flex: .5;
        flex: .5;
}
div#part4-1-a h3
{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
div#part4-1-a h3 span
{
    font-family: '微软雅黑';
    font-size: 13px;
    font-weight: normal;
    font-style: italic;

    position: relative;
    top: 5px;

    letter-spacing: 1px;

    color: #72b16a;
}
div#part4-2
{
    width: 458px;
    height: 318px;

    background-color: #eeedd6;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
div#part4-2 ul
{
    font-family: '宋体';
    font-size: 16px;
    line-height: 18px;

    margin: 22px;

    list-style: inside;
    list-style-image: url('img/task6-ul.png');

    letter-spacing: 1px;

    color: #5a5b5b;
}
div#part4-2 li
{
    margin-bottom: 20px;
}
#part4-2 li span
{
    font-family: '宋体';
    font-size: 12px;
    font-style: italic;

    color: #5a5b5b;
}
#part4-2-1
{
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
#part4-2-1-1
{
    width: 260px;
    height: 160px;

    background-color: #d45d5c;

    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
    -ms-align-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
#part4-2-1-1:before
{
    font-family: '微软雅黑';
    font-size: 110px;

    display: -moz-flex;
    display:  -ms-flex;
    display:   -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display:      flex;

    height: 86px;
    margin: 0 8px 0 0;
    padding: 0 6px;

    content: '0';

    color: #fff;
    border-right: 2px solid #fff;

    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

#part4-2-1-1-1 h2
{
    font-family: '黑体';
    font-size: 21px;
    font-style: italic;
    line-height: 24px;

    color: #fff;
}
#part4-2-1-1-1 p
{
    font-family: '黑体';
    font-size: 12px;
    line-height: 12px;

    color: #fff;
}
#part4-2-1 > blockquote
{
    -webkit-box-flex: 1;
    -ms-flex: 1;
        flex: 1;
    -ms-align-self: flex-start;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
#part4-2-1 > blockquote > p
{
    font-family: '黑体';
    font-size: 14px;
    font-style: italic;
    line-height: 16px;

    padding: 10px 15px;

    letter-spacing: 1px;

    color: #5a5b5b;
}
#part4-2-1 > blockquote p:before
{
    font-family: '黑体';
    font-size: 72px;
    font-style: normal;

    float: left;

    height: 1px;
    margin-top: 15px;
    margin-right: 7px;
    margin-left: -40px;

    content: '“';

    color: #d45d5c;
}

#part4-2-1 > blockquote p:after
{
    font-family: '黑体';
    font-size: 72px;
    font-style: normal;

    float: right;

    height: 15px;
    margin-top: 28px;
    margin-right: -40px;

    content: '”';

    color: #d45d5c;
}
footer
{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
footer p a
{
    font-family: '黑体';
    font-size: 12px;

    color: #d45d5c;
}
